* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}

.resume {
  font-family: Georgia, serif;
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
  
}

.header * {
  text-align: center;
  padding-bottom: 0.5em;
}

.contact-info {
  padding-bottom: 0.5em;
}

.contact-info > * {
  display: inline-block;
  padding: 0 1em 0.5em 1em;
}

.section {
  margin: 0 auto;
  padding-bottom: 1em;
}

.section .title {
  text-align: left;
  padding-bottom: 0.33em;
}

.section .details {
  display: flex;
  justify-content: space-between;
  padding-left: 0.1em;
  padding-bottom: 0.5em;
  white-space: nowrap;
  align-items: flex-end;
}

.section .left {
  text-align: left;
  margin: 0;
  /*padding-right: 3em;*/
  display: inline-block;
}

.section .right {
  text-align: right;

}

.section ul {
  text-align: left;
  padding: 0 1.5em;
}

.section .content {
  text-align: left;
  padding-left: 1.5em;
}

@media (max-width: 900px) {
  html {
    font-size: calc(0.5em + 1vw);
  }

  .resume {
    width: 100%;
  }
}
